@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hover-sidebar {
  background-color: #26A69A ;
}

.bg-hover-sidebar:hover{
  background-color: #ffffff ;
}

.icon-color{
  color-scheme: #13296A;
}

.sidebar-color{
  background-color: #1C3F3F;
}

.bg-btn{
  background-color: #26A69A;
}

.bg-btn:hover{
  background-color: #004D40 ;
}

